
body {
    background-color: aliceblue;    
}

main {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 1rem 0;
}

h1 {
    background-color: darkblue;
    color: white;
    padding: 1rem;
    margin: 0;
}

section {
    background-color: white;  
    padding: 1rem;
}

section h2 {
    margin: 0;
}